*
{
    padding: 0px;
    margin: 0px;

}
nav{
    height: 50px;
    background-color: cornflowerblue;
    border: 5px solid black;
    position: fixed;
    width: 100%;
    top: 10px;
}
.links
{
    margin-top: 5px;
   
   

}
a
{
    margin-right: 200px;
    text-decoration: none;

}
button{
    background-color: chartreuse;

}
img{
    height: 40px;
    width: 20px;
}
a:hover
{
    color: brown;
    
}